{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div id="profile-cards" class="container-fluid">
  <div class="row">
    <div class="col-12 mb-3">
      <h4 class="main-description">Hey there! <br>
        We are delighted to share our interests and experiences with you folks! We'd love to connect with you.</h4>
    </div>
  </div>
  <div class="row">
    {% for member in members %}
    <div class="col-lg-3 col-sm-12 col-md-6 mt-1">
      <div class="card main-card" style="width: 18rem; height: 28rem;">
        <img  src="{{member.image}}" class="card-img-top profile-pic-trans" alt="Profile Picture">
        <div class="card-body">
          <h5 class="card-text text-center">{{member.first_name}} {{member.last_name}}</h5>
          <p class="card-text text-center"><a target="_blank" class="resume-link" href="{{member.resume_url}}">View Resume</a></p>
          <div class="row">
            <div class="col">
              <a target="_blank" class="linkedin-link ms-2" href="{{member.linkedin_url}}"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
            <div class="col">
              <a target="_blank" class="github-link ms-2" href="{{member.github_url}}"><i class="fab fa-github fa-2x"></i></a>
            </div>
            <div class="col">
              <a target="_blank" class="instagram-link ms-2" href="{{member.instagram_url}}"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <p>Kindly, Add Members!</p>
    {% endfor %}
  </div>
</div>

<!-- Contact Us -->
<div class="container" id='contact'>
  <div class="row">
    <div class="col-lg-6 col-sm-12 mt-4">
      <h2>Who we are?</h2>
     <p style="text-align: justify" class="lead">We are a group of four friends pursuing UG from Indian Institute of Information Technology, Design and Manufacturing, Kancheepuram fascinated in various fields of interests and looking to increase networking with similar mindset people. <br> We have built this group portfolio for the purpose to connect with new people to learn and grow together. We have presented our experiences about our interests through blogs and stories.</p>
    </div>

    <div class="col-lg-6 col-sm-12 mt-4">
      <h2>Reach Us</h2>
      <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="button" class="btn btn-primary btn-sm my-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Proceed</button>
        {% include 'group/modal_.html' %}
      </form>
    </div>
    <hr>
    <div class="col">
 
    <!-- Footer -->
    <div class="text-center">
      <p>Made with "Code" by <span class="footer-line-1"> Team Synergee</spam></p>
      <p class="footer-line-2 me-2">Write Us at <em>thesynergee@gmail.com</em> |</p> 
      <a target="_blank" class="linkedin-link mx-2" href="https://twitter.com/TSynergee"><i class="fab fa-twitter fa-2x"></i></a> <a target="_blank" class="instagram-link mx-2" href="https://www.instagram.com/thesynergee/"><i class="fab fa-instagram fa-2x"></i></a> <a target="_blank" class="linkedin-link mx-2" href="https://www.facebook.com/synergee.portal"><i class="fab fa-facebook-square fa-2x"></i></a>
    </div>

    </div>
  </div>
</div>

{% endblock %}