{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div id="profile-cards" class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3 mb-5">
      <h4 class="main-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, architecto laborum minus par</h4>
    </div>
  </div>
  <div class="row">
    {% for member in members %}
    <div class="col-lg-3 mt-3">
      <div class="card main-card" style="width: 18rem; height: 20rem;">
        <img src="https://ik.imagekit.io/lddlbwmmx2g/cam-1612528810004_9aphZZFVf.jpg" class="card-img-top profile-pic-trans" alt="Profile Picture">
        <div class="card-body">
          <h5 class="card-text text-center">{{member.first_name}} {{member.last_name}}</h5>
          <p class="card-text text-center"><a class="resume-link" href="{{member.resume_url}}">Documented  Resume</a></p>
          <div class="row">
            <div class="col">
              <a class="linkedin-link ms-2" href="{{member.linkedin_url}}"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
            <div class="col">
              <a class="github-link ms-2" href="{{member.github_url}}"><i class="fab fa-github fa-2x"></i></a>
            </div>
            <div class="col">
              <a class="instagram-link ms-2" href="{{member.instagram_url}}"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <p>Kindly, Add Members!</p>
    {% endfor %}
  </div>
</div>

<!-- Contact Us -->
<div class="container" id='contact'>
  <div class="row">
    <div class="col-lg-6 col-sm-12 mt-4">
      <h2>Who we are?</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ad consequatur similique enim libero, porro consectetur nostrum harum incidunt minus nesciunt, quibusdam ab laudantium rerum! Optio libero ad quos aspernatur.
    </div>

    <div class="col-lg-6 col-sm-12 mt-4">
      <h2>Reach Us</h2>
      <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="button" class="btn btn-primary btn-sm my-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Proceed</button>
        {% include 'group/modal_.html' %}
      </form>
    </div>

  </div>
</div>

{% endblock %}