{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <img class="corner-pic" src="{{member.image}}" alt="Profile Picture">
    <div class="row">
        {% for interest in member.interests.all %}
        <div class="col-12">
                <div class="card mb-4 mt-3 cat-card">
                    <div class="card-body">
                    <h5 class="card-title">{{interest.type}}</h5>
                    <p class="card-text red">{{interest.definition}}</p>
                    <a href="{% url 'list-post' member.id interest.id %}" class="card-link card-explore-link">Explore</a>
                    </div>
                </div>
            </div>
            {% empty %}
                <p class='lead'>No Interests Found</p>
            {% endfor %}
    </div>
</div>
    
{% endblock %}