{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <img class="corner-pic" src="{{member.image}}" alt="Profile Picture">
    <div class="row">
        <div class="col">
            {% for interest in member.interests.all %}
                <div class="card mb-4" style="width: 75%;">
                    <div class="card-body">
                    <h5 class="card-title">{{interest.type}}</h5>
                    <p class="card-text">{{interest.definition}}</p>
                    <a href="#" class="card-link ms-2">Explore</a>
                    </div>
                </div>
            {% empty %}
                <p>No Interests Found</p>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}