{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3 class="text-center">Thank You, for Reaching Us Out!</h3>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, vitae vel nostrum dignissimos voluptates ad est debitis libero officiis, obcaecati, facere ut hic repellendus enim consequuntur consectetur laudantium eligendi! Ex!</p>
    <p class="text-center"><a style="color: rgb(216, 236, 101);" href="{% url 'list-profile' %}">Return to Home</a></p>
</div>

{% endblock %}