body{
    background-color: #7f789b;
}

html {
    scroll-behavior: smooth;
}  

.navbar{
   background-color: rgb(236, 154, 154);
   opacity: 70%;
}

.corner-pic{
    width: 10%;
    border-radius: 50%;
    float: right;
}

@media (min-width:576px){
    .card-explore-link{
        margin-left: 0%;
    }

    .cat-card{
        width: 75%;
    }
}

@media (max-width: 576px) {
    .corner-pic{
        display: none;
    }
}

@media (min-width:992px){
    .card-explore-link{
        margin-left: 85%;
    }

    .cat-card{
        width: 90%;
    }

    #profile-cards{
        height: 100vh;
      }
    
    #contact{
        height: 100vh;
    }
}

#contact{
    padding-top: 75px;
    /* background-color: #988fbd; */
    /* background-color: white; */
}

.card-explore-link{
    color: rgb(216, 236, 101);
}

.main-description{
    text-align: center;
}

.main-card{
    border-radius: 14px;
    background: linear-gradient(225deg, #726c8c, #8880a6);
    box-shadow:  -33px 33px 67px #33303e, 33px -33px 67px #cbc0f8;
}

.cat-card{
    border-radius: 14px;
    background: linear-gradient(225deg, #726c8c, #8880a6);
    box-shadow:  -33px 33px 67px #33303e, 33px -33px 67px #cbc0f8;
}

.resume-link{
    color: rgb(216, 236, 101);
}


/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(216, 236, 101) #8e87ac;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #8e87ac;    
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(216, 236, 101);
    border-radius: 20px;
    border: 3px solid #7f789b;
  }

.github-link,.linkedin-link,.instagram-link{
    color: black;
  }

