@media (min-width: 768px){
    .pull-right{
        position: absolute;
        right: 15px;
    }
}

.corner-pic{
    width: 10%;
    border-radius: 30px;
    float: right;
}

@media (min-width:576px){
    .card-explore-link{
        margin-left: 0%;
    
    }
}

@media (min-width:992px){
    .card-explore-link{
        margin-left: 85%;
    }
}